<button type="button" id="editLink" class="btn btn-outline-secondary btn-edit" title="Edit" data-bs-toggle="modal"
        data-bs-target="#modal-edit" onclick="onEditLink(this)">
    <i class="fa-solid fa-pen-to-square" style="color: #005af5;"></i>
</button>
<button type="button" class="btn btn-outline-success btn-copy" title="Copy">
    <i class="fa-solid fa-copy" style="color: #0bed07;"></i>
</button>
<button type="button" class="btn btn-outline-danger btn-delete" title="Delete" onclick="deleteLink(this)">
    <i class="fa-solid fa-trash" style="color: #f31212;"></i>
</button>
{% load static %}
<script src="{% static 'js/delete.js' %}"></script>