{% extends "template.html" %}
{% block title %}
Portal Link Management
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-6 search-bar">
        <div class="input-group">
            <span class="input-group-text">Search</span>
            <input type="text" aria-label="Search" class="form-control txt-search">
            <button title="Add link" type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addlink"  onclick="clear_value();"><i class="fas fa-add"></i></button>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <div class="input-group">
            <span class="input-group-text">Username</span>
            <button type="button" class="btn btn-danger" onclick="logout_portal()">Logout</button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <table class="table table-bordered table-responsive table-striped text-center">
        <thead class="bg-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Env</th>
            <th scope="col">Link</th>
            <th scope="col">Project</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Created Date</th>
            <th scope="col">Updated By</th>
            <th scope="col">Updated Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody id="table_body_links">
            <!-- Link rows added here -->
        </tbody>
    </table>
</div>

<template id="template_row_link">
    <tr>
        <th scope="row">1</th>
        <td>name</td>
        <td>env</td>
        <td>
            <a href="link">link</a>
        </td>
        <td>project</td>
        <td>description</td>
        <td>username</td>
        <td>14/05/2023 10:18AM</td>
        <td>username</td>
        <td>14/05/2023 10:18AM</td>
        <td link-id='X'> {% include 'actions.html' %}</td>
    </tr>
</template>
{% include 'add.html' %}
{% load static %}
<script src="{% static 'js/script_get_cookies.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/script show_table_links.js' %}"></script>
<script src="{% static 'js/script_logout.js' %}"></script>
{% endblock %}

